@import url(https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);





body {
  font-family: Poppins;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3.2rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.85rem;
}
.display-5 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.56rem;
    font-size: calc( 1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.68rem;
    font-size: calc( 0.9475rem + (0.85 - 0.9475) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.9475rem + (0.85 - 0.9475) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.719rem 1.5rem;
  border-radius: 3px;
}
.btn:hover:after,
.btn:focus:after,
.btn.active:after {
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
.btn:hover:after,
.btn:focus:after,
.btn.active:after {
  -webkit-animation: 1s btn-animation linear infinite;
  animation: 1s btn-animation linear infinite;
}
@keyframes btn-animation {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
}
.btn-sm {
  padding: 0.5rem 1rem;
  border-radius: 3px;
}
.btn-md {
  padding: 0.719rem 1.5rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 0.875rem 1.875rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #4e869e !important;
}
.bg-success {
  background-color: #0c54ca !important;
}
.bg-info {
  background-color: #252121 !important;
}
.bg-warning {
  background-color: #fac769 !important;
}
.bg-danger {
  background-color: #ffffff !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #4e869e !important;
  border-color: #4e869e !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #355b6b !important;
  border-color: #355b6b !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #355b6b !important;
  border-color: #355b6b !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #ec6963 !important;
  border-color: #ec6963 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #e4271f !important;
  border-color: #e4271f !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e4271f !important;
  border-color: #e4271f !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #252121 !important;
  border-color: #252121 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #0c54ca !important;
  border-color: #0c54ca !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #083682 !important;
  border-color: #083682 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #083682 !important;
  border-color: #083682 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #fac769 !important;
  border-color: #fac769 !important;
  color: #614003 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #614003 !important;
  background-color: #f8ab1f !important;
  border-color: #f8ab1f !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614003 !important;
  background-color: #f8ab1f !important;
  border-color: #f8ab1f !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  color: #333333 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #333333 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #333333 !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #2c4c5a;
  color: #2c4c5a !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff !important;
  background-color: #4e869e;
  border-color: #4e869e;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #4e869e !important;
  border-color: #4e869e !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #d02119;
  color: #d02119 !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff !important;
  background-color: #ec6963;
  border-color: #ec6963;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ec6963 !important;
  border-color: #ec6963 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #000000;
  color: #000000 !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff !important;
  background-color: #252121;
  border-color: #252121;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #252121 !important;
  border-color: #252121 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #062c6a;
  color: #062c6a !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff !important;
  background-color: #0c54ca;
  border-color: #0c54ca;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #0c54ca !important;
  border-color: #0c54ca !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #f5a208;
  color: #f5a208 !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #614003 !important;
  background-color: #fac769;
  border-color: #fac769;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614003 !important;
  background-color: #fac769 !important;
  border-color: #fac769 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #cccccc;
  color: #cccccc !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #808080 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff !important;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff !important;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #4e869e !important;
}
.text-secondary {
  color: #ec6963 !important;
}
.text-success {
  color: #0c54ca !important;
}
.text-info {
  color: #252121 !important;
}
.text-warning {
  color: #fac769 !important;
}
.text-danger {
  color: #ffffff !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #2c4c5a !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #d02119 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #062c6a !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #f5a208 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #cccccc !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #0c54ca;
}
.alert-info {
  background-color: #252121;
}
.alert-warning {
  background-color: #fac769;
}
.alert-danger {
  background-color: #ffffff;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: 0.3s, 0.3s, 0.3s, 0.8s;
  transition-timing-function: ease-in-out;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #4e869e;
  border-color: #4e869e;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #4e869e;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #9dc0cf;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a8c7fa;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #d8d3d3;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
blockquote {
  border-color: #4e869e;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
.mbr-form .btn {
  margin: 0.4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type='submit'] {
  border-radius: 100px !important;
  padding: 1rem 2rem;
}
.mbr-form .input-group-btn button[type='submit']:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.special-form {
  border-radius: 100px !important;
}
.input-group-btn button[type='submit'] {
  border-radius: 100px !important;
}
.input-group-btn a.btn {
  border-radius: 100px !important;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #4e869e;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #4e869e;
  border-bottom-color: #4e869e;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #4e869e !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ec6963 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%234e869e' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-s7jhADEqc9 .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s7jhADEqc9 .nav-item,
.cid-s7jhADEqc9 .nav-link,
.cid-s7jhADEqc9 .navbar-caption {
  font-weight: normal;
}
.cid-s7jhADEqc9 .nav-item:focus,
.cid-s7jhADEqc9 .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-s7jhADEqc9 .dropdown-item:hover:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    width: 16px;
  }
}
.cid-s7jhADEqc9 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s7jhADEqc9 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s7jhADEqc9 .dropdown .dropdown-menu .dropdown-item:hover {
  padding-right: 2.5385em;
  padding-left: 3.5385em;
}
.cid-s7jhADEqc9 .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-s7jhADEqc9 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s7jhADEqc9 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s7jhADEqc9 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s7jhADEqc9 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-s7jhADEqc9 .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
}
.cid-s7jhADEqc9 .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-s7jhADEqc9 .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-s7jhADEqc9 .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-s7jhADEqc9 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-s7jhADEqc9 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-s7jhADEqc9 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(99vh - 3.8rem);
  }
}
.cid-s7jhADEqc9 .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-s7jhADEqc9 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s7jhADEqc9 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-s7jhADEqc9 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s7jhADEqc9 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s7jhADEqc9 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-s7jhADEqc9 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-s7jhADEqc9 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-s7jhADEqc9 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s7jhADEqc9 .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-s7jhADEqc9 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s7jhADEqc9 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s7jhADEqc9 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s7jhADEqc9 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s7jhADEqc9 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s7jhADEqc9 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-s7jhADEqc9 .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-s7jhADEqc9 .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-s7jhADEqc9 .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-s7jhADEqc9 .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-s7jhADEqc9 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s7jhADEqc9 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s7jhADEqc9 .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s7jhADEqc9 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s7jhADEqc9 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s7jhADEqc9 .dropdown-item.active,
.cid-s7jhADEqc9 .dropdown-item:active {
  background-color: transparent;
}
.cid-s7jhADEqc9 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s7jhADEqc9 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s7jhADEqc9 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s7jhADEqc9 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-s7jhADEqc9 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s7jhADEqc9 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s7jhADEqc9 ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-s7jhADEqc9 .navbar-buttons {
  text-align: center;
}
.cid-s7jhADEqc9 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-s7jhADEqc9 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #c1c1c1;
}
.cid-s7jhADEqc9 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s7jhADEqc9 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s7jhADEqc9 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s7jhADEqc9 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s7jhADEqc9 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s7jhADEqc9 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s7jhADEqc9 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s7jhADEqc9 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s7jhADEqc9 .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-s7jhADEqc9 a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s7jhADEqc9 .mbr-iconfont {
  font-size: 1rem;
  color: #ffffff;
  display: inline-flex;
}
.cid-s7jhADEqc9 .mbr-iconfont:before {
  padding: .5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-s7jhADEqc9 .soc-item {
  margin: .5rem .3rem;
}
.cid-s7jhADEqc9 .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s7jhADEqc9 .navbar {
    height: 77px;
  }
  .cid-s7jhADEqc9 .navbar.opened {
    height: auto;
  }
  .cid-s7jhADEqc9 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-s7o1RRJwTM {
  background-image: url("../../../assets/images/ezgif.com-video-to-gif-1.gif");
}
.cid-s7o1RRJwTM .mbr-section-subtitle {
  color: #ffffff;
}
.cid-s7o1RRJwTM .mbr-section-title,
.cid-s7o1RRJwTM .mbr-text,
.cid-s7o1RRJwTM .icon-description {
  color: #465052;
}
.cid-s7o1RRJwTM .mbr-media {
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-s7o1RRJwTM .modalWindow {
  display: none;
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-s7o1RRJwTM .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-s7o1RRJwTM .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-s7o1RRJwTM a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-s7o1RRJwTM a.close:hover {
  color: #ffffff;
}
.cid-s7o1RRJwTM .play {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #ffffff;
  margin-right: -3px;
}
.cid-s7o1RRJwTM .btn-play {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  position: relative;
  background: #4e869e;
  width: 60px;
  height: 60px;
  border: 1px solid #4e869e;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  text-align: center;
  line-height: 60px;
  font-size: 27px;
  cursor: pointer;
  display: inline-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  -webkit-transition-property: color, background, border-color;
  transition-property: color, background, border-color;
}
.cid-s7o1RRJwTM .btn-play:after {
  content: '';
  border: 1px solid;
  border-color: inherit;
  width: 150%;
  height: 150%;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
  left: -25%;
  top: -25%;
  opacity: 1;
  -webkit-animation: 1s btn-video linear infinite;
  animation: 1s btn-video linear infinite;
}
@media (min-width: 768px) {
  .cid-s7o1RRJwTM .mbr-section-btn {
    padding-left: 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-s7o1RRJwTM .mbr-section-subtitle,
  .cid-s7o1RRJwTM .mbr-section-title,
  .cid-s7o1RRJwTM .mbr-text {
    text-align: center !important;
  }
  .cid-s7o1RRJwTM .mbr-media {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-s7o1RRJwTM .btn-play {
    margin-bottom: 2rem;
  }
}
@keyframes btn-video {
  0% {
    transform: scale(0.68);
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@-webkit-keyframes btn-video {
  0% {
    -webkit-transform: scale(0.68);
  }
  100% {
    -webkit-transform: scale(1.2);
    -webkit-opacity: 0;
  }
}
.cid-s7o1RRJwTM .mbr-section-title {
  color: #ffffff;
}
.cid-s7o1RRJwTM .mbr-text {
  color: #4e869e;
}
.cid-sc6bvID81h {
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 0px;
}
.cid-sc6bvID81h .container-fluid {
  padding: 0 3rem;
}
.cid-sc6bvID81h .image-block {
  margin: auto;
}
.cid-sc6bvID81h .image-block img {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-sc6bvID81h .container-fluid {
    padding: 0 1rem;
  }
  .cid-sc6bvID81h .image-block {
    width: 100% !important;
  }
}
.cid-qIp0qVn2Fg {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qIp0qVn2Fg .row-element,
.cid-qIp0qVn2Fg .image-element {
  padding: 0;
}
.cid-qIp0qVn2Fg .image-element {
  display: flex;
  justify-content: center;
}
.cid-qIp0qVn2Fg .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-qIp0qVn2Fg .text-content {
  padding: 3rem;
}
@media (max-width: 767px) {
  .cid-qIp0qVn2Fg .text-content {
    padding: 2rem 1rem;
  }
  .cid-qIp0qVn2Fg .mbr-title,
  .cid-qIp0qVn2Fg .mbr-text,
  .cid-qIp0qVn2Fg .mbr-section-btn {
    text-align: center !important;
  }
}
.cid-qIp0qVn2Fg .mbr-text,
.cid-qIp0qVn2Fg .mbr-section-btn {
  color: #252121;
}
.cid-qIp0qVn2Fg .mbr-title {
  color: #ec6963;
  text-align: center;
}
.cid-s7pgW9aa80 {
  padding-top: 15px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-s7pgW9aa80 .main {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-s7pgW9aa80 .row-element,
.cid-s7pgW9aa80 .image-element {
  padding: 0;
}
.cid-s7pgW9aa80 .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s7pgW9aa80 .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-s7pgW9aa80 .text-content {
  padding: 3rem;
}
@media (max-width: 767px) {
  .cid-s7pgW9aa80 .text-content {
    padding: 2rem 1rem;
  }
  .cid-s7pgW9aa80 .mbr-title,
  .cid-s7pgW9aa80 .mbr-text,
  .cid-s7pgW9aa80 .mbr-section-btn {
    text-align: center !important;
  }
}
.cid-s7pgW9aa80 .mbr-text,
.cid-s7pgW9aa80 .mbr-section-btn {
  color: #232323;
}
.cid-s7pgW9aa80 .mbr-title {
  color: #4e869e;
}
.cid-s7pi0ImBZC {
  overflow: hidden !important;
  padding-top: 45px;
  padding-bottom: 30px;
  background: linear-gradient(to right, #ffffff 0%, #ffffff 30%, #4e869e 30%, #4e869e 100%);
}
.cid-s7pi0ImBZC .animated-element {
  color: #efefef;
}
.cid-s7pi0ImBZC .img-block {
  -webkit-align-self: center;
  align-self: center;
}
.cid-s7pi0ImBZC .mbr-section-subtitle {
  color: #9c88bc;
}
@media (min-width: 992px) {
  .cid-s7pi0ImBZC .img-block {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-s7pi0ImBZC .mbr-figure {
    margin-top: 1rem;
  }
}
@media (max-width: 768px) {
  .cid-s7pi0ImBZC {
    background: #4e869e;
  }
  .cid-s7pi0ImBZC .img-block {
    padding-bottom: 2rem;
  }
}
.cid-s6YrjCeuN8 {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-s6YrjCeuN8 .main {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-s6YrjCeuN8 .row-element,
.cid-s6YrjCeuN8 .image-element {
  padding: 0;
}
.cid-s6YrjCeuN8 .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s6YrjCeuN8 .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-s6YrjCeuN8 .text-content {
  padding: 3rem;
}
@media (max-width: 767px) {
  .cid-s6YrjCeuN8 .text-content {
    padding: 2rem 1rem;
  }
  .cid-s6YrjCeuN8 .mbr-title,
  .cid-s6YrjCeuN8 .underline,
  .cid-s6YrjCeuN8 .mbr-text,
  .cid-s6YrjCeuN8 .mbr-section-btn {
    text-align: center !important;
  }
}
.cid-s6YrjCeuN8 .mbr-text,
.cid-s6YrjCeuN8 .mbr-section-btn {
  text-align: left;
  color: #252121;
}
.cid-s6YrjCeuN8 .mbr-title {
  color: #4e869e;
}
.cid-s9TANAKUdc {
  padding-top: 60px;
  padding-bottom: 75px;
  background: #ffffff;
}
.cid-s9TANAKUdc .plan-body .btn-bgr {
  z-index: 0;
}
.cid-s9TANAKUdc .media-container-row {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.cid-s9TANAKUdc .list-group-item {
  padding: .75rem 0rem;
}
.cid-s9TANAKUdc .plan-subtitle {
  color: #cccccc;
}
.cid-s9TANAKUdc .mbr-text {
  margin: 10px 0 0 0;
  color: #cccccc;
}
.cid-s9TANAKUdc .price-term .term {
  display: inline-block;
  background: #ffffff;
  padding: 5px 10px;
  border-radius: 100px;
}
.cid-s9TANAKUdc .plan {
  padding: 1.875rem;
  background: none;
  position: relative;
}
.cid-s9TANAKUdc .plan .mbr-overlay {
  background: #4e869e;
  opacity: 0.9;
}
.cid-s9TANAKUdc .plan .plan-price {
  margin-top: 15px;
  padding: 20px 0;
  border-top: 1px solid #eaeaea;
}
.cid-s9TANAKUdc .plan .plan-price .price-term {
  margin-top: 10px;
}
.cid-s9TANAKUdc .plan .list-group-item {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  border: 0;
  background: none;
}
.cid-s9TANAKUdc .plan .list-group-item::after {
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #eaeaea;
}
.cid-s9TANAKUdc .plan .mbr-section-btn a {
  margin-bottom: 0;
}
.cid-s9TANAKUdc .plan .plan-body {
  position: relative;
  border-top: 1px solid #eaeaea;
}
@media (max-width: 992px) {
  .cid-s9TANAKUdc .plan {
    margin-bottom: 30px;
  }
}
.cid-s9TANAKUdc .plan-header {
  position: relative;
}
@media (max-width: 550px) {
  .cid-s9TANAKUdc .price-figure {
    font-size: 4.25rem;
  }
}
.cid-s9TFhktWMW {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #4e869e;
}
.cid-s9TFhktWMW .main {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-s9TFhktWMW .row-element,
.cid-s9TFhktWMW .image-element {
  padding: 0;
}
.cid-s9TFhktWMW .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s9TFhktWMW .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-s9TFhktWMW .text-content {
  padding: 3rem;
}
@media (max-width: 767px) {
  .cid-s9TFhktWMW .text-content {
    padding: 2rem 1rem;
  }
  .cid-s9TFhktWMW .mbr-title,
  .cid-s9TFhktWMW .underline,
  .cid-s9TFhktWMW .mbr-text,
  .cid-s9TFhktWMW .mbr-section-btn {
    text-align: center !important;
  }
}
.cid-sckW6jiLSa {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-sckW6jiLSa .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
  padding: 0 3rem;
}
.cid-sckW6jiLSa .carousel-item > div {
  width: 100%;
}
.cid-sckW6jiLSa .carousel-item.active,
.cid-sckW6jiLSa .carousel-item-next,
.cid-sckW6jiLSa .carousel-item-prev {
  display: flex;
}
.cid-sckW6jiLSa .carousel-controls a {
  transition: opacity .5s;
  font-size: 1.2rem;
}
.cid-sckW6jiLSa .carousel-controls a span {
  padding: 15px;
  border-radius: 50%;
  color: #ffffff;
  background: #ec6963;
  opacity: .9;
}
.cid-sckW6jiLSa .carousel-controls a:hover span {
  opacity: 1;
}
.cid-sckW6jiLSa .signature,
.cid-sckW6jiLSa .desk {
  margin: 0;
}
.cid-sckW6jiLSa .mbr-text,
.cid-sckW6jiLSa .mbr-section-subtitle {
  color: #cccccc;
}
.cid-sckW6jiLSa .signature,
.cid-sckW6jiLSa .desk {
  color: #ffffff;
}
@media (min-width: 992px) {
  .cid-sckW6jiLSa .carousel-item {
    padding: 0 5rem;
  }
}
@media (min-width: 768px) {
  .cid-sckW6jiLSa .carousel-controls a {
    width: 5%;
  }
}
.cid-sckW6jiLSa .mbr-section-subtitle {
  color: #4e869e;
}
.cid-sckW6jiLSa .mbr-text {
  color: #000000;
}
.cid-sckW6jiLSa .signature {
  color: #ec6963;
}
.cid-sckW6jiLSa .mbr-section-title {
  color: #ec6963;
}
.cid-sckW6jiLSa .desk {
  color: #4e869e;
}
.cid-s9TFGGD4Tr {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-s9TFGGD4Tr .main {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-s9TFGGD4Tr .row-element,
.cid-s9TFGGD4Tr .image-element {
  padding: 0;
}
.cid-s9TFGGD4Tr .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s9TFGGD4Tr .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-s9TFGGD4Tr .text-content {
  padding: 3rem;
}
@media (max-width: 767px) {
  .cid-s9TFGGD4Tr .text-content {
    padding: 2rem 1rem;
  }
  .cid-s9TFGGD4Tr .mbr-title,
  .cid-s9TFGGD4Tr .underline,
  .cid-s9TFGGD4Tr .mbr-text,
  .cid-s9TFGGD4Tr .mbr-section-btn {
    text-align: center !important;
  }
}
.cid-s9TFGGD4Tr .mbr-text,
.cid-s9TFGGD4Tr .mbr-section-btn {
  color: #000000;
}
.cid-s9TFGGD4Tr .mbr-title {
  text-align: left;
  color: #000000;
}
.cid-s729MARxb9 {
  padding-top: 30px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-s729MARxb9 .card {
  display: flex;
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s729MARxb9 .card .card-wrapper {
  background: #4e869e;
  height: 1%;
}
.cid-s729MARxb9 .card .card-wrapper .card-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
}
.cid-s729MARxb9 .card .card-wrapper .card-img img {
  transition: all .5s;
}
.cid-s729MARxb9 .card .card-wrapper .card-img .img-text {
  position: absolute;
  padding: .6rem;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1;
  border-radius: 100px;
  background-color: #000000;
}
.cid-s729MARxb9 .card .card-wrapper .card-img .img-text span {
  display: block;
}
.cid-s729MARxb9 .card .card-wrapper .card-box {
  padding: 1.5rem;
}
.cid-s729MARxb9 .mbr-card-text {
  margin: 0;
}
.cid-s729MARxb9 .mbr-section-title {
  color: #252121;
  text-align: center;
}
.cid-s729MARxb9 .mbr-section-subtitle {
  color: #252121;
  text-align: center;
}
.cid-s729MARxb9 .mbr-card-text,
.cid-s729MARxb9 .mbr-section-btn {
  color: #ffffff;
}
.cid-s72GyxCRF1 {
  padding-top: 75px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/dsc-849.jpeg");
}
.cid-s72GyxCRF1 .mbr-section-subtitle {
  color: #ffffff;
}
.cid-s72GyxCRF1 .mbr-section-title,
.cid-s72GyxCRF1 .mbr-text,
.cid-s72GyxCRF1 .icon-description {
  color: #465052;
}
.cid-s72GyxCRF1 .mbr-media {
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-s72GyxCRF1 .modalWindow {
  display: none;
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-s72GyxCRF1 .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-s72GyxCRF1 .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-s72GyxCRF1 a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-s72GyxCRF1 a.close:hover {
  color: #ffffff;
}
.cid-s72GyxCRF1 .play {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #ffffff;
  margin-right: -3px;
}
.cid-s72GyxCRF1 .btn-play {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  position: relative;
  background: #000000;
  width: 60px;
  height: 60px;
  border: 1px solid #000000;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  text-align: center;
  line-height: 60px;
  font-size: 27px;
  cursor: pointer;
  display: inline-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  -webkit-transition-property: color, background, border-color;
  transition-property: color, background, border-color;
}
.cid-s72GyxCRF1 .btn-play:after {
  content: '';
  border: 1px solid;
  border-color: inherit;
  width: 150%;
  height: 150%;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
  left: -25%;
  top: -25%;
  opacity: 1;
  -webkit-animation: 1s btn-video linear infinite;
  animation: 1s btn-video linear infinite;
}
@media (max-width: 767px) {
  .cid-s72GyxCRF1 .mbr-section-subtitle,
  .cid-s72GyxCRF1 .mbr-section-title,
  .cid-s72GyxCRF1 .mbr-text {
    text-align: center !important;
  }
  .cid-s72GyxCRF1 .mbr-media {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-s72GyxCRF1 .btn-play {
    margin-bottom: 2rem;
  }
}
@keyframes btn-video {
  0% {
    transform: scale(0.68);
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@-webkit-keyframes btn-video {
  0% {
    -webkit-transform: scale(0.68);
  }
  100% {
    -webkit-transform: scale(1.2);
    -webkit-opacity: 0;
  }
}
.cid-s72GyxCRF1 .mbr-section-title {
  color: #ffffff;
}
.cid-s72GyxCRF1 .mbr-text {
  color: #ffffff;
}
.cid-s72OIS2EBn {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #4e869e;
}
.cid-s72OIS2EBn .form-control {
  color: #ffffff !important;
  border: none;
  border-radius: 0 !important;
  background-color: transparent;
  padding: .5rem 0rem;
  border-bottom: 1px solid #ffffff;
}
.cid-s72OIS2EBn .form-control:focus {
  outline: none;
  box-shadow: none;
}
.cid-s72OIS2EBn input::-webkit-input-placeholder {
  color: #ffffff;
}
.cid-s72OIS2EBn input::-moz-placeholder {
  color: #ffffff;
}
.cid-s72OIS2EBn textarea::-webkit-input-placeholder {
  color: #ffffff;
}
.cid-s72OIS2EBn textarea::-moz-placeholder {
  color: #ffffff;
}
.cid-s72OIS2EBn textarea.form-control {
  min-height: 83px;
}
.cid-s72OIS2EBn .mbr-section-subtitle {
  color: #767676;
}
.cid-s72OIS2EBn H2 {
  color: #ffffff;
}
.cid-s72OIS2EBn H3 {
  color: #ffffff;
}
.cid-s72OIS2EBn B {
  color: #ffffff;
}
.cid-sc67nweys7 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sc67nweys7 .social-media {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-right: 4rem;
}
.cid-sc67nweys7 .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-sc67nweys7 .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-sc67nweys7 .logo-section {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding-left: 4rem;
}
.cid-sc67nweys7 .icon-transition span {
  color: #ffffff;
  display: block;
  padding: 0.1rem 0.8rem;
  height: 3em;
  line-height: 3em;
  border-radius: 50%;
  background-color: #ec6963;
  width: 3em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 13px;
}
.cid-sc67nweys7 .icon-transition span:hover {
  background-color: #4e869e;
}
.cid-sc67nweys7 .mbr-text {
  color: #000000;
  text-align: center;
}
@media (max-width: 991px) {
  .cid-sc67nweys7 .social-media {
    -webkit-justify-content: center;
    justify-content: center;
    padding-right: 0rem;
  }
  .cid-sc67nweys7 .logo-section {
    -webkit-justify-content: center;
    justify-content: center;
    padding-left: 0rem;
    margin-bottom: 1.5rem;
  }
  .cid-sc67nweys7 .mbr-text {
    margin-bottom: 1.5rem;
  }
}
.cid-s7jhADEqc9 .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s7jhADEqc9 .nav-item,
.cid-s7jhADEqc9 .nav-link,
.cid-s7jhADEqc9 .navbar-caption {
  font-weight: normal;
}
.cid-s7jhADEqc9 .nav-item:focus,
.cid-s7jhADEqc9 .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-s7jhADEqc9 .dropdown-item:hover:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    width: 16px;
  }
}
.cid-s7jhADEqc9 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s7jhADEqc9 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s7jhADEqc9 .dropdown .dropdown-menu .dropdown-item:hover {
  padding-right: 2.5385em;
  padding-left: 3.5385em;
}
.cid-s7jhADEqc9 .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-s7jhADEqc9 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s7jhADEqc9 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s7jhADEqc9 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s7jhADEqc9 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-s7jhADEqc9 .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
}
.cid-s7jhADEqc9 .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-s7jhADEqc9 .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-s7jhADEqc9 .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-s7jhADEqc9 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-s7jhADEqc9 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-s7jhADEqc9 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(99vh - 3.8rem);
  }
}
.cid-s7jhADEqc9 .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-s7jhADEqc9 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s7jhADEqc9 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-s7jhADEqc9 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s7jhADEqc9 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s7jhADEqc9 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-s7jhADEqc9 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-s7jhADEqc9 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-s7jhADEqc9 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s7jhADEqc9 .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-s7jhADEqc9 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s7jhADEqc9 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s7jhADEqc9 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s7jhADEqc9 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s7jhADEqc9 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s7jhADEqc9 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-s7jhADEqc9 .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-s7jhADEqc9 .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-s7jhADEqc9 .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-s7jhADEqc9 .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-s7jhADEqc9 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s7jhADEqc9 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s7jhADEqc9 .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s7jhADEqc9 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s7jhADEqc9 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s7jhADEqc9 .dropdown-item.active,
.cid-s7jhADEqc9 .dropdown-item:active {
  background-color: transparent;
}
.cid-s7jhADEqc9 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s7jhADEqc9 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s7jhADEqc9 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s7jhADEqc9 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-s7jhADEqc9 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s7jhADEqc9 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s7jhADEqc9 ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-s7jhADEqc9 .navbar-buttons {
  text-align: center;
}
.cid-s7jhADEqc9 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-s7jhADEqc9 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #c1c1c1;
}
.cid-s7jhADEqc9 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s7jhADEqc9 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s7jhADEqc9 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s7jhADEqc9 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s7jhADEqc9 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s7jhADEqc9 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s7jhADEqc9 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s7jhADEqc9 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s7jhADEqc9 .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-s7jhADEqc9 a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s7jhADEqc9 .mbr-iconfont {
  font-size: 1rem;
  color: #ffffff;
  display: inline-flex;
}
.cid-s7jhADEqc9 .mbr-iconfont:before {
  padding: .5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-s7jhADEqc9 .soc-item {
  margin: .5rem .3rem;
}
.cid-s7jhADEqc9 .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s7jhADEqc9 .navbar {
    height: 77px;
  }
  .cid-s7jhADEqc9 .navbar.opened {
    height: auto;
  }
  .cid-s7jhADEqc9 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sc663Exwo6 {
  background: #ffffff;
  padding-top: 120px;
  padding-bottom: 0px;
}
.cid-sc663Exwo6 .container-fluid {
  padding: 0 3rem;
}
.cid-sc663Exwo6 .image-block {
  position: relative;
  margin: auto;
}
.cid-sc663Exwo6 .image-block img {
  width: 100%;
}
.cid-sc663Exwo6 .image-block .img-caption {
  width: 100%;
  padding: 1rem 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
}
.cid-sc663Exwo6 .image-block .img-caption p {
  margin-bottom: 0;
}
.cid-sc663Exwo6 .mbr-text {
  position: relative;
}
@media (max-width: 767px) {
  .cid-sc663Exwo6 .container-fluid {
    padding: 0 1rem;
  }
}
.cid-sc5VFd3ixq {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-sc5VFd3ixq .mbr-section-subtitle {
  color: #767676;
}
.cid-sc5VFGQlM3 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sc5VJn8ARd {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 15px;
}
.cid-sc5VJn8ARd .container-fluid {
  padding: 0 3rem;
}
.cid-sc5VJn8ARd .image-block {
  position: relative;
  margin: auto;
}
.cid-sc5VJn8ARd .image-block img {
  width: 100%;
}
.cid-sc5VJn8ARd .image-block .img-caption {
  width: 100%;
  padding: 1rem 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
}
.cid-sc5VJn8ARd .image-block .img-caption p {
  margin-bottom: 0;
}
.cid-sc5VJn8ARd .mbr-text {
  position: relative;
}
@media (max-width: 767px) {
  .cid-sc5VJn8ARd .container-fluid {
    padding: 0 1rem;
  }
}
.cid-sc66oLqoJ3 {
  padding-top: 15px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-sc672Phg7u {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #4e869e;
}
.cid-sc672Phg7u .form-control {
  color: #ffffff !important;
  border: none;
  border-radius: 0 !important;
  background-color: transparent;
  padding: .5rem 0rem;
  border-bottom: 1px solid #ffffff;
}
.cid-sc672Phg7u .form-control:focus {
  outline: none;
  box-shadow: none;
}
.cid-sc672Phg7u input::-webkit-input-placeholder {
  color: #ffffff;
}
.cid-sc672Phg7u input::-moz-placeholder {
  color: #ffffff;
}
.cid-sc672Phg7u textarea::-webkit-input-placeholder {
  color: #ffffff;
}
.cid-sc672Phg7u textarea::-moz-placeholder {
  color: #ffffff;
}
.cid-sc672Phg7u textarea.form-control {
  min-height: 83px;
}
.cid-sc672Phg7u .mbr-section-subtitle {
  color: #767676;
}
.cid-sc672Phg7u H2 {
  color: #ffffff;
}
.cid-sc672Phg7u H3 {
  color: #ffffff;
}
.cid-sc672Phg7u B {
  color: #ffffff;
}
